<div class="contenedorDialog">
  <h1 mat-dialog-title>Agregar un Producto Nuevo</h1>   
  <div mat-dialog-content>
    <form  [formGroup]="form" (ngSubmit)="agregarProducto()">
      <mat-tab-group>
      </mat-tab-group>
      <mat-form-field appearance="fill">    
        <mat-label>Nombre del Producto</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field>
      <mat-form-field appearance="fill">    
        <mat-label>Precio del producto</mat-label>
        <input matInput formControlName="precio">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="categoria">
          <div *ngFor="let item of data.categorias">         
            <mat-option value="{{item._id}}" >{{item.nombre}}</mat-option>          
          </div> 
        </mat-select>
      </mat-form-field>      
      <div mat-dialog-actions>
        <button mat-button type="submit" cdkFocusInitial class="btnAgregar" >Agregar</button>
        <button mat-button mat-dialog-close class="btnCancelar">Cancelar</button>
      </div>
    </form>
  </div> 
</div>
