*{
    font-family: Garamond; font-style: normal; font-variant: normal; font-weight: 400; line-height: 15.4px; 
}

.contenedorBody{
    background-image: url("../assets/imagen/walpaper1.png");
    width: 100%;
    height: 100%;
    opacity: 20%;
    position: fixed;
    //background-repeat: no-repeat;
}

.contenedorAll{
    background-color: white;
    width: 100%;
    height: 100%;
}