form{
    width: 26em;
    height: 600px;
}

::ng-deep .mat-dialog-container {
    background-color: #ffffff;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    //height: 550px;
}

::ng-deep .mat-dialog-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    //height: 360px;
    padding: 0px 98px;
}

::ng-deep .mat-label {
    color: #6c6969;
}

::ng-deep .mat-form-field {
    //width: 99%;
    border: 0.1px solid #6c6969;
    margin: 5px;
    width: 27em;
    .mat-form-field-label {
        color: #6c6969 !important;
    }
    .mat-select-value-text{
        color: #6c6969 !important;
    }
}

::ng-deep .mat-dialog-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .mat-button {
        font-weight: 500;
    }
    .btnAgregar{
        background-color: #6c6969;
        color: #ffffff;
    }
    .btnCancelar{
        background-color: #f24949;
        color: #ffffff; 
    }
}

.contenedorDialog {
    color: #6c6969;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    h1 {
        text-transform: uppercase;
        font-weight: bold;
    }
}